@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base style */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}


.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: #87b5b5;

}

/* editor style */
.editorWrap {
  margin-top: 20px;
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
 
}
.toolBar, #preview {
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}

/* toolbar style */
 .toolBar {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  background-color: #4aa3a3;
  padding: 0.3rem;
  border: 1px solid #1d2f2f;
  font-family: Russo One;
  font-size: 1rem;
  color: black;
  padding: 0.3rem;
}

.fcc {
  margin-left: 5px;
  margin-right: 10px;
}

.maxArrow, .minArrow {
  margin-right: 5px;
  margin-left: auto;
  background-color: #4aa3a3;
}


.hide {
  display: none;
}

textarea {
  width: 100%;
  overflow-y: scroll;
  background-color: #c0d8d8;
}

.max{
  height: 100vh;
}

/* preview style */
#preview {
  width: 80vw;
  background-color: #c0d8d8;
  margin-top: 20px;
}

.previewContent {
  margin-bottom: 40px;
}

h1 {
  text-decoration-line: underline;
}

img {
  width: 690px;
  height: 79px;
}